<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

{{> navbarPartial}}

<h1>Customers</h1>
{{!-- Create a table --}}
<table id="customer-table" border="1" cellpadding="5">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>
                delete
            </th>
        </tr>

    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, name, email, phone number and number of dogs enrolled, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.id_customer}}</td>
            <td>{{this.name}}</td>
            <td>{{this.email}}</td>
            <td>{{this.phone_number}}</td>
            <td>{{this.number_of_dogs_enrolled}}</td>
            <td><button onclick="deleteCustomer({{this.id_customer}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_customer.js"></script>

<!-- /views/index.hbs -->

{{!-- Form to add a customer to the table --}}
<h2>Add A Customer</h2>
<p>To add a new customer, please enter their information below and click 'Add Customer'</p>
<form method="POST" id="add-customer-form" action="/add-customer-form">
    <label for="input-name">Name: </label>
    <input type="text" name="input-name" id="input-name">

    <label for="input-email">Email: </label>
    <input type="text" name="input-email" id="input-email">

    <label for="input-phone_number">Phone Number: </label>
    <input type="text" name="input-phone-number" id="input-phone-number">

    <label for="input-dogs_enrolled">Dogs Enrolled: </label>
    <input type="number" name="input-dogs-enrolled" id="input-dogs-enrolled">

    <input type="submit" value="Add Customer">
</form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
{{!--
<script src="./js/add_customer.js"></script> --}}