{{!-- Code referenced heavily from Canvas Module Week 7 Project Development -Exploration – Developing in Node.js
and osu-cs340-ecampus / nodejs-starter-app : https://github.com/osu-cs340-ecampus/nodejs-starter-app --}}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<div style="text-align: center; display: flex; flex-direction: column; margin: 0 300px;">
    {{> navbarPartial}}

    <h1 style="margin-top: 50px;">Customers</h1>

    {{!-- READ - Call SELECT query to display dog information to the table (includes link to function to DELETE
    Customer) --}}
    <table id="customer-table" border="1" cellpadding="5">
        <thead>
            <tr>
                <th><Button onClick="showAddForm()">Add</Button></th>
                <th></th>
                {{#each data.[0]}}
                <th>{{@key}}</th>
                {{/each}}
                <th>update</th>
                <th>delete</th>
            </tr>
        </thead>

        <tbody>
            {{#each data}}
            <tr>
                <td></td>
                <td></td>
                <td>{{this.id_customer}}</td>
                <td>{{this.name}}</td>
                <td>{{this.email}}</td>
                <td>{{this.phone_number}}</td>
                <td>{{this.number_of_dogs_enrolled}}</td>
                <td><button onClick="showUpdateCustomer()">Update</button></td>
                <td><button onClick="showDeleteForm({{this.id_customer}})">Delete</button></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <p>&nbsp;</p>

    {{!-- CREATE - Form to add a customer to the table --}}
    <form method="POST" id="add-customer-form" action="/add-customer-form">
        <fieldset>
            <legend><strong>Add A Customer</strong></legend>
            <br>
            <span>To add a new customer, please enter their information below and click 'Add Customer'</span>
            <br><br>
            <label for="input-name"><strong>Name: </strong></label>
            <br>
            <input type="text" name="input-name" id="input-name">
            <br><br>
            <label for="input-email"><strong>Email: </strong></label>
            <br>
            <input type="text" name="input-email" id="input-email">
            <br><br>
            <label for="input-phone-number"><strong>Phone Number:</strong></label>
            <br>
            <input type="text" name="input-phone-number" id="input-phone-number">
            <br><br>
            <label for="input-dogs-enrolled">
                <strong>Dogs Enrolled: </strong>
            </label>
            <br>
            <input type="number" name="input-dogs-enrolled" id="input-dogs-enrolled">
            <br><br><br>
            <input type="submit" value="Click to Add">
        </fieldset>
    </form>

    {{!-- UPDATE - Form to update a customer to the table --}}
    <form id="update-customer-form-ajax" style="display: none;">
        <fieldset>
            <legend><strong>Update Customer Information</strong></legend>
            <br>
            <span>Please update a specific customer's information below</span>

            <br><br>
            <label for="input-fullname"><strong>Person To Update:</strong></label>
            <select name="input-fullname" id="mySelect">
                <option>Select a Person</option>
                {{#each data}}
                <option value="{{this.id_customer}}">{{this.name}}</option>
                {{/each}}
            </select>

            <br><br>

            <label for="input-name-update"><strong>Name: </strong></label>
            <br>
            <input type="text" name="input-name-update" id="input-name-update">
            <br><br>
            <label for="input-email-update"><strong>Email: </strong></label>
            <br>
            <input type="text" name="input-email-update" id="input-email-update">
            <br><br>
            <label for="input-phone-number-update"><strong>Phone Number: </strong></label>
            <br>
            <input type="text" name="input-phone-number-update" id="input-phone-number-update">
            <br><br>
            <label for="input-dogs-enrolled-update"><strong>Dogs Enrolled: </strong></label>
            <br>
            <input type="number" name="input-dogs-enrolled-update" id="input-dogs-enrolled-update">
            <br><br><br>
            <input type="submit" value="Update Customer">
        </fieldset>
    </form>


    {{!-- DELETE - Form to delete a dog to the table --}}
    <div id="delete-customer-block" style="display: none; margin: 0 auto;">
        <fieldset>
            <legend><strong>Confirm Deletion</strong></legend>
            <span>Are you sure you want to delete?</span>
            <br><br>
            <table id="customer-table" border="1" cellpadding="5">
                <thead>
                    <tr>
                        <th>id_customer</th>
                        <th>name</th>
                        <th>email</th>
                        <th>phone_number</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td id="delete-id-customer"></td>
                        <td id="delete-name"></td>
                        <td id="delete-email"></td>
                        <td id="delete-phone-number"></td>
                    </tr>
                </tbody>
            </table>

            <br>

            <button id="button-delete-customer">Click to Delete</button></td>

        </fieldset>

    </div>
</div>

<!-- Scripts -->
<script src="./js/customers/delete_customer.js"></script>
<script src="./js/customers/update_customer.js"></script>
<script src="./js/customers/add_customer.js"></script>