<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<div style="text-align: center; display: flex; flex-direction: column; margin: 0 300px;">


    {{> navbarPartial}}

    <h1 style="margin-top: 50px;">Customers</h1>
    {{!-- Create a table --}}
    <table id="customer-table" border="1" cellpadding="5">

        {{!-- Header section --}}
        <thead>

            {{!-- For just the first row, we print each key --}}
            <tr>
                <th>
                    <Button onClick="showAddForm()">Add</Button>
                </th>
                <th></th>
                {{#each data.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
                <th>
                    update
                </th>
                <th>
                    delete
                </th>
            </tr>

        </thead>

        {{!-- Body section --}}
        <tbody>

            {{!-- For each row, print the id, name, email, phone number and number of dogs enrolled, in order --}}
            {{#each data}}
            <tr>
                <td></td>
                <td></td>
                <td>{{this.id_customer}}</td>
                <td>{{this.name}}</td>
                <td>{{this.email}}</td>
                <td>{{this.phone_number}}</td>
                <td>{{this.number_of_dogs_enrolled}}</td>
                <td><button onClick="showUpdateCustomer()">Update</button></td>
                <td><button onclick="deleteCustomer({{this.id_customer}})">Delete</button></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <script src="./js/customers/delete_customer.js"></script>
    <p>&nbsp;</p>

    <!-- /views/index.hbs -->

    {{!-- Form to add a customer to the table --}}
    <form method="POST" id="add-customer-form" action="/add-customer-form">
        <fieldset>
            <legend><strong>Add A Customer</strong></legend>
            <br>
            <span>To add a new customer, please enter their information below and click 'Add Customer'</span>
            <br><br>
            <label for="input-name">Name: </label>
            <br>
            <input type="text" name="input-name" id="input-name">
            <br><br>
            <label for="input-email">Email: </label>
            <br>
            <input type="text" name="input-email" id="input-email">
            <br><br>
            <label for="input-phone-number">Phone Number: </label>
            <br>
            <input type="text" name="input-phone-number" id="input-phone-number">
            <br><br>
            <label for="input-dogs-enrolled">Dogs Enrolled: </label>
            <br>
            <input type="number" name="input-dogs-enrolled" id="input-dogs-enrolled">
            <br><br>
            <input type="submit" value="Click to Add">
        </fieldset>
    </form>

    <form id="update-customer-form-ajax" style="display: none;">
        <fieldset>
            <legend><strong>Update Customer Information</strong></legend>
            <br>
            <span>Please update a specific customer's information below</span>

            <br><br>
            <label for="input-fullname"><strong>Person To Update:</strong></label>
            <select name="input-fullname" id="mySelect">
                <option>Select a Person</option>
                {{#each data}}
                <option value="{{this.id_customer}}">{{this.name}}</option>
                {{/each}}
            </select>

            <br><br>

            <label for="input-name-update">Name: </label>
            <br>
            <input type="text" name="input-name-update" id="input-name-update">
            <br><br>
            <label for="input-email-update">Email: </label>
            <br>
            <input type="text" name="input-email-update" id="input-email-update">
            <br><br>
            <label for="input-phone-number-update">Phone Number: </label>
            <br>
            <input type="text" name="input-phone-number-update" id="input-phone-number-update">
            <br><br>
            <label for="input-dogs-enrolled-update">Dogs Enrolled: </label>
            <br>
            <input type="number" name="input-dogs-enrolled-update" id="input-dogs-enrolled-update">
            <br><br>
            <input type="submit" value="Update Customer">
        </fieldset>
    </form>
</div>

<script src="./js/customers/update_customer.js"></script>
<script src="./js/customers/add_customer.js"></script>